<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChinalFallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCC2E39E2080E229000C3974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCC2E3B22080E22A000C3974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCC2E3BD2080E22A000C3974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
